<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Categories</title>
</head>
<body>
    <h1><a href="#">Start Shopping</a></h1>
    <div class="product-options">
        {% for category in categories %}
            <div class="product-category">
                <a href="{% url 'products_by_category' category=category.category %}">
                    <h2>{{ category.category }}</h2>
                </a>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'view_cart' %}">Your Cart</a>
</body>
</html>